node_modules/
.expo/
dist/
web-build/

# Native
/android
/ios

# Force inclusion of local module native code
!/modules/**
!/modules/**/android
!/modules/**/android/**
!/modules/**/ios
!/modules/**/ios/**
/modules/**/build/
/modules/**/.gradle/
/local.properties

