node_modules/
.expo/
dist/
web-build/

# Native
/android
/ios

# Keep local module native code tracked
!/modules/**/android/
!/modules/**/android/**
!/modules/**/ios/
!/modules/**/ios/**

# Keep dependencies/build artifacts ignored under local modules
/modules/**/node_modules/
/modules/**/build/
/modules/**/.gradle/
/local.properties

